<div class="buying-row">
    <div class="image-boying-row-cont" style="background-color: #CBDCEB; padding: 10px; margin-right: 15px;">
        <img src="${image}" alt="${title}">
    </div>
    <div class="cont-info-buy">
        <div class="cont-info-buy1">
            <h3 class="producto-tittle">${title}</h3>
            <p class="product-size">${size}</p>
            <p class="product-color">${color}</p>
            <p class="product-status">${description}</p>
        </div>
        <div class="cont-info-buy2">
            <h4 class="product-price"><strong>${price}</strong></p>
            <button class="delete-button"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
        </div>
    </div>
</div>
