<nav class="user-navbar">
    <a href="../index.html" class="user-navbar-logo">
        <img src="../assets/logo2.png" alt="Logo" class="user-navbar-logo-img">
    </a>
    <ul class="user-navbar-menu">
        <li class="user-navbar-item">
            <button class="user-icon-btn" id="user-icon-btn">
                <i class="fa-solid fa-user user-icon"></i>
            </button>
            <div class="user-dropdown" id="user-dropdown">
                <a href="../pages/myprofile.html" class="user-dropdown-item">Mi perfil</a>
                <a href="../pages/products.html" class="user-dropdown-item">Ver todos los productos</a>
                <a href="../pages/all-products.html" class="user-dropdown-item">Gestionar productos</a>
                <a href="../pages/addnew.html" class="user-dropdown-item">Agregar un nuevo producto</a>
                <a href="../pages/buying.html" class="user-dropdown-item">Ver carrito</a>
                <a href="../pages/pastcom.html" class="user-dropdown-item">Mis ordenes</a>
                <a href="../pages/profiles.html" class="user-dropdown-item">Ver perfiles</a>

                <a id="logout-button" class="user-dropdown-item">Salir</a>
            </div>
        </li>
    </ul>
</nav>


