<nav class="user-navbar">
    <a href="../index.html" class="user-navbar-logo">
        <img src="../assets/logo2.png" alt="Logo" class="user-navbar-logo-img">
    </a>
    <ul class="user-navbar-menu">
        <li class="user-navbar-item">
            <a href="../pages/products.html" class="">Ver todos los productos</a>
        </li>
        <li class="user-navbar-item">
            <a href="../pages/buying.html" class="">Ver carrito</a>
        </li>
        <li class="user-navbar-item">
            <a href="../pages/pastcom.html" class="">Mis ordenes</a>
        </li>
        <li class="user-navbar-item">
            <a id="logout-button" class="">Cerrar sesion</a>
        </li>
    </ul>
</nav>


