<nav class="user-navbar">
    <a href="../index.html" class="user-navbar-logo">
        <img src="../assets/logo2.png" alt="Logo" class="user-navbar-logo-img">
    </a>
    <ul class="user-navbar-menu">
        <li class="user-navbar-item">
            <button class="user-icon-btn" id="user-icon-btn">
                <i class="fa-solid fa-user user-icon"></i>
            </button>
            <div class="user-dropdown" id="user-dropdown">
                <a href="../pages/addnew.html" class="user-dropdown-item">Agregar nuevo producto</a>
                <a href="../pages/buying.html" class="user-dropdown-item">Ver carrito</a>
                <a href="#" class="user-dropdown-item">Comprados</a> <!-- no se q ruta poner -->
                <a href="../pages/login.html" class="user-dropdown-item">Salir</a>
            </div>
        </li>
    </ul>
</nav>


