<div class="own-card" data-id="{{id}}">
    <img src="{{imagen}}" alt="{{titulo}}" class="card-image">
    <h2>{{titulo}}</h2>
    <p><strong>Marca:</strong> {{marca}}</p>
    <p><strong>Color:</strong> {{color}}</p>
    <p><strong>Talla:</strong> {{talla}}</p>
    <p><strong>Precio:</strong> {{precio}}</p>
    <p><strong>Descripción:</strong> {{descripcion}}</p>
    <div class="card-actions">
        <a href="../pages/editing.html">
            <button class="edit-button">
                <i class="fa-solid fa-pen-to-square"></i> Editar
            </button>
        </a>
        <button class="delete-button">
            <i class="fa-solid fa-trash"></i> Eliminar
        </button>
    </div>
</div>
