<div class="product-card">
    <div class="image-container">
        <img src="{{imagen}}" alt="{{titulo}}" class="product-image">
    </div>
    <div class="details-container">
        <h2 class="product-title">{{titulo}}</h2>
        <p class="product-size">Talla: {{size}}</p>
        <p class="product-price">Precio: {{precio}}</p>
        <div class="button-container">
            <a href="../pages/buying.html">
                <button class="buy-button">
                    <img src="../assets/ecommerce.png" alt="Agregar al carrito" class="buy-icon">
                </button>
            </a>
            <a href="../pages/details.html?id={{id}}"><button class="details-button">Ver Detalles</button></a>
        </div>
    </div>
</div>
